﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="HelloWorldContainer"></div>

@section Scripts
{
    <script>
        $(function () {
            $.ajax("http://localhost:49160/api/HelloWorld")
                .then(function (data) {

                    for (var i = 0; i < 10; i++) {
                        $("#HelloWorldContainer").append(data + "<br/>");
                    }
                })
                .fail(function (data) {
                    $("#HelloWorldContainer").text("ERROR! " + data);
                })
        });
    </script>
}